.footer-link {
  color: #bdbdbd;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.footer-link:not(:last-child):after {
  border-right: 1px solid #999;
  content: '';
  margin: 0 10px 0 10px;
}

.footer-link:hover,
.footer-link:focus,
.footer-link:active {
  color: #09f;
}
